# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython debug symbols
cython_debug/

# Virtual environment
env/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# MacOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local config
.env.local
